*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fas{
    color: #b1b1b1;
}
.utente_img{
    height: 100%;
    vertical-align: top;
    border-radius: 100%;
}

.p_tb_10{
    padding: 10px 0 !important;
}
.p_x_5{
    padding:0px 5px !important;
}

.m_lr_5{
    margin: 0px 5px !important;
}
.m_b_5{
    margin-bottom: 5px !important;
}
.clearfix{
    display: table;
    content: "";
    clear: both;
}
.message{
    width: 50%;
    border-radius: 10px;
}
.msg_sent{ /*classi per js*/
    background-color: white;
    float: left;
   
}
.msg_received{ /*classi per js*/
    background-color: #e2ffc9;
    float: right;
    
}

.offset_y{
    content: "";
    /* height:; */
}



/* body */
body{
    background: linear-gradient(to bottom ,#009688 0px ,#009688 15vh,#dadbd4 15vh , #dadbd4 85vh);
    height: calc(100vh - 20px); /*100 vh - 20px dal margine di container*/
    overflow-x: hidden;
    /* font-family: ; */
    font-family: 'Heebo', sans-serif;
}

.container{
    /* background-color: lightcoral; */
    height: 90%;
    width: 80%;
    margin: auto;
    margin-top: 20px;

    display: flex;
}

/* sidebar contatti sx */
aside{
    width: 30%;
    min-width: 400px;
    height: 90vh;
    background-color: lightskyblue;
    /* border-right: 2px solid #b4b4b0; */
}
aside .top{
    height: 70px;
    background-color: #dadbd4;
    font-size: 1.3rem; 
    padding: 10px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
aside .top .icons{
    margin-right: 5px;
}
aside .top .utente{
    height: 70px;
}
aside .top .utente img{
    border-radius: 100%;
    height: 100%;
    vertical-align: middle;
    margin:0px 10px;
    padding: 10px 0;
}
aside .top .fas{
    margin: 0px 5px;
}

aside .middle{
    height: 80px;
    padding: 10px;
    background-color: #8edafc;
}
aside .middle .fas.fa-bell-slash{
    font-size: 1.4rem;
    color: #8edafc;
    background-color: #f2fbff;
    border-radius: 100%;
    padding: 12px 10px;
    margin: 10px 0px;
    vertical-align: top;
}
aside .middle .middle_text{
    display: inline-block;
    margin: 10px 0px;
}
.middle_text a {
    color: grey;
}

aside .bottom{
    background-color: #fafafa;
    height: calc(90vh - 150px);
    /* height: 100%;  DA SISTEMARE , prende 100% dei 100vh del body e non il 90% del suo contenitore*/
}

aside .search_bar{
    padding: 5px;
    font-size: 1.2rem;
    height: 40px;
    
}
aside .search_bar .fa-search{
    vertical-align: middle;
    width: 8%;
}

aside .search_bar  input{
    height: 1.2rem;
    border: #fafafa;
    width: 90%;
    /* display: inline-block; */
}

aside .bottom .contatti{
    /* height: 100%; */
    height: calc(90vh - 190px);
    overflow-y: scroll;
}
aside .bottom .contatti .utente{
    height: 70px;
    background-color: white;
    padding: 10px 0px;
    margin-bottom: 2px;
}
aside .bottom .contatti .utente > img{
    margin-right: 10px;
}
/* sezione dx messaggi */
.msg{
    width: 70%;
    height: 90vh;
}
.msg .top{
    height: 70px;
    padding: 0px 10px;
    background-color: #dadbd4;

    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.msg .top .utente{
    height: 100%;
}
.msg .top .utente > div{
    display: inline-block;
}
.msg .top .utente > div span{
    display: block;
}
.msg .top .utente > div span:nth-last-of-type(1){
    color: grey;
}
.msg .top .top_right i{
    font-size: 1.3rem; 
}

.msg .msg_center{
    height: calc(100% - 140px);
    background-image: url('../img/mine.jpg');
    overflow-y: scroll;
    padding: 5px 10px;
    display: flex;  
    flex-flow: column;
    justify-content: end;
}
.date_format{
    font-size: 0.7rem;
    color: grey;
}
.msg .msg_bottom{
    height: 70px;
    background-color: #f3eeea;
}
.msg .msg_bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
}
.msg .msg_bottom input{
    height: 65%;
    width: 80%;
    font-size: 1.1rem;
    border-radius: 10px;
    border:grey;
}


.test{
    background-color: yellow;
    height: 10000px;
}