<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script><!--link vue cdn-->

</head>
<body>
    <div class="container" id="app">
        <!-- sidebar contatti -->
        <aside>
            <!-- sezione top -->
            <div class="top">
                <div class="utente">
                    <img src="img/avatar_1.jpg" class="utente_img" alt="avatar">
                    <span>Nome Utente</span>
                </div>
                <div class="icons">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
               
            </div>
            <!-- fine sezione top -->
            <!-- sezione middle notifiche -->
            <div class="middle">
                <i class="fas fa-bell-slash"></i>
                <div class="middle_text">
                    <div>Ricevi notifiche di nuovi messaggi</div>
                    <div><a href="#">Attiva notifiche desktop</a></div>
                </div>
                
            </div>
            <!-- fine sezione notifiche -->
            <!-- sezione bottom  -->
            <div class="bottom">
                <div class="search_bar">
                    <div>
                        <label for="search"><i class="fas fa-search"></i></label>
                        <input type="text" id="search" placeholder="Cerca tra i contatti">
                    </div>
                    
                </div>
                <div class="contatti">
                    <div :class="{grey : contact.colore && index == indice}" class="utente" v-for="(item,index) in contacts" @click="visualizza_msg(index); addColor(item,index)">
                        <img :src="'img/' + 'avatar' + item.avatar + '.jpg'" class="utente_img"  :alt="contact.name">
                        <span>{{item.name}} {{index}}</span>
                    </div>
                    <!-- <div class="utente">
                        <img src="img/avatar_1.jpg" class="utente_img" alt="avatar">
                        <span>Nome Utente</span>
                    </div>
                    <div class="utente">
                        <img src="img/avatar_1.jpg" class="utente_img" alt="avatar">
                        <span>Nome Utente</span>
                    </div> -->
                </div>
            </div>
            <!-- fine sezione bottom -->
        </aside>
        <!-- fine sidebar contatti -->
        <div class="msg">
            <div class="top">
                <div class="utente p_tb_10">
                    <img :src="'img/avatar' + contact.avatar +'.jpg'" class="utente_img" :alt="contact.name">
                    <div>
                        <span>{{contact.name}}</span>
                        <span>Ultimo accesso : {{contact.messages[contact.messages.length - 1].date}}</span>
                    </div>
                    
                </div>
                <div class="top_right">
                    <i class="fas fa-circle-notch m_lr_5"></i>
                    <i class="fas fa-comment-alt m_lr_5"></i>
                    <i class="fas fa-ellipsis-v m_lr_5"></i>
                </div>
            </div>
            <div class="msg_center" id="messaggi">
                <!-- <div class="clearfix"> 
                    <div class="msg_sent">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, nesciunt.</div>
                </div>
                <div class="clearfix"> 
                    <div class="msg_received">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, nesciunt.</div>
                </div> -->


                <!-- codice per backtick
                <div class="offset_y"></div>
                <div>
                    <div class="message msg_sent clearfix">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, nesciunt.</div>
                </div>
                <div>
                    <div class="message msg_received clearfix">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, nesciunt.</div>
                </div> -->
                <!--
                <div v-if="(element.status === 'sent')">
                    <div class="message msg_sent clearfix">{{item[index]}}</div>
                </div>
                <div v-if-else="element.status === 'received'">
                    <div>{{item}}</div>
                </div>
                 -->
                <div id="messaggio" v-for="messaggio in contact.messages" >
                    <div :class="'message msg_' + messaggio.status + ' clearfix p_x_5 m_b_5'">
                        {{messaggio.text}}
                        <div class="date_format">{{messaggio.date}}</div>
                    </div>
                </div>
            </div>
            <div class="msg_bottom">
                <i class="far fa-smile"></i>
                <input type="text" placeholder="Scrivi messaggio...">
                <i class="fas fa-microphone"></i>
            </div>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>